header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center the items vertically */
  padding: 10px 20px;
  margin-top: 28px;
}

.header-content {
  display: flex;
  align-items: center; /* Align items vertically */
}

.logo {
  max-width: 85px;
  height: auto;
  margin-right: 15px; /* Add space between logo and text */
}

.text-container {
  display: flex;
  flex-direction: column; /* Stack the text vertically */
}

.header-text {
  color: #333; /* Change text color as needed */
}

.bold-text {
  font-size: 50px; /* Increase font size for the bold text */
  font-weight: bold; /* Make the text bold */
}

.header-text:not(.bold-text) {
  font-size: 16px; /* Adjust size for the second line */
}

.icon-container {
  display: flex; /* Align icons in a row */
  align-items: center; /* Center icons vertically */
  gap: 15px; /* Space between icons */
  margin-left: auto; /* Push icons to the right */
}

.header-icon {
  font-size: 30px; /* Match icon size with the login icon */
  color: #333; /* Change icon color as needed */
  cursor: pointer; /* Change cursor to pointer */
  transition: color 0.3s; /* Smooth color transition */
}

.header-icon:hover {
  color: #0073b1; /* Change color on hover */
}