.sidebar-container {
    width: 200px;
    height: 95vh;
    background-color: white;
    padding: 20px;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 15px 0 0 15px;
    transition: width 0.3s;
    position: relative;
}

.sidebar-container.collapsed {
    width: 60px;
}

.arrow-icon-wrapper {
    position: absolute;
    top: 10px;
    right: -15px;
    background-color: #e0e0e0;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 5px;
}

.menu-button-wrapper {
    margin-bottom: 20px;
    width: 100%;
    /* display: flex; */
    justify-content: center;
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.sidebar-button {
    width: 100%;
    background-color: white;
    color: #1e1e2f;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.sidebar-button .icon {
    font-size: 25px;
    color: #1e90ff;
}

.sidebar-button .label {
    flex-grow: 1;
    text-align: left;
}

.sidebar-button .label.hidden {
    display: none;
}

.sidebar-button.active {
    background-color: #1e90ff;
    color: white;
    box-shadow: 2px 2px 10px rgba(30, 144, 255, 0.5);
    transform: translateY(-2px);
}

.sidebar-button.active .icon {
    color: white;
}

.sidebar-button:hover {
    background-color: #87cefa;
    color: white;
    transform: translateY(-2px);
}

.sidebar-button:hover .icon {
    color: white;
}

.label {
    font-size: 1rem;
    font-family: "Times New Roman", Times, serif;
}

.icon-container {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    gap: 10px;
}

@media (max-width: 768px) {
    .sidebar-button {
        font-size: 12px;
        padding: 8px;
    }

    .sidebar-container {
        width: 80px;
    }

    .sidebar-container.collapsed {
        width: 60px;
    }
}